
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">

    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
        <!-- this is exactly like a forEach loop with plain JavaScript -->

        {{#each people}}
            <div class="user-panel">
                <img class="u-avatar" src="images/{{ Icon }}" alt="icon describing favourite thing">

                 <button class="u-link">See More</button>
                    
                <h2>I love: {{ Title }}</h2>
                <p class="thing-description">{{ Description }}</p>
            </div>
        {{/each}}
        
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">
            <!-- render the database content here -->

        </div>
    </section>
</section>
