h3 {
  font-family: $sans-serif-font;
  font-size: 2em;
  text-align: center;
}

a {
  color: black; 
  font-family: $sans-serif-font;
  text-decoration: none;
}

a:hover {

  color: cornflowerblue;
}
